.main-header {
    background: #252934;
    width: 99%;
  }
  #about {
    text-align:center;
    padding:50px;
    animation: 1s anim-lightspeed-in ease forwards;
    color: #fff;
    font-size: 70px;
  }

  .box {
    padding: 50px;
    text-align:center;
    animation: 1s anim-lightspeed-in ease forwards;
  }
  .hexagon-wrapper {
    display: flex;
    text-align: initial;
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin-top: 40px;
  }
  .container h1 {
  color:#fff;
  }
  .hexagon {
    position: relative;
    width: 46%;
    height: 80%;
    margin : auto;
    color:rgb(255, 255, 255);
    background: linear-gradient(-180deg, white, #000000);
    display: flex;
    align-content: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 1;
  }
  .normal-text{
    color:white;
  }
  .hexagon p {
    z-index: 1000;
    margin: auto;
    font-size: 50px;
    color: #ffffff;
    /* background: linear-gradient(45deg, #a58fe9, #a5a5a5); */
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  .hexagon:before,
  .hexagon:after {
    position: absolute;
    content: "";
    background: inherit;
    height: 100%;
    width: 100%;
    border-radius: 0;
    transition: 0.5s;
    transform-origin: center;
  }
  .hexagon:before {
    transform: rotateZ(60deg);
  }
  .hexagon:after {
    transform: rotateZ(-60deg);
  }
  .hexagon:hover {
    border-radius: 50px;
    transition: 0.5s;
  }
  .hexagon:hover:before {
    border-radius: 50px;
    transition: 0.5s;
  }
  .hexagon:hover:after {
    border-radius: 50px;
    transition: 0.5s;
  }
  .img-part{
    animation: 1s anim-lightspeed-in ease forwards;
  }